.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--spotify-color-black);
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(25%) blur(9px);
}
.keeper .background {
	animation: toKeeper 3s forwards;
}
@keyframes toKeeper {
	from {
		filter: brightness(25%) blur(9px);
	}
	to {
		filter: brightness(50%) blur(0);
	}
}
.keeper .background.logo {
	object-fit: contain;
	padding: 5%;
}

.visualizer {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: opacity(0);
	animation: toVisible 0.5s 3s forwards;
}

.disk {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	object-fit: cover;
	aspect-ratio: 1;
	width: 50vmin;
	border-radius: 50%;
	filter: opacity(0);
	animation: toVisible 1s 1.5s forwards, rotation 30s linear 3s infinite;
}
.playing .disk {
	animation-play-state: running, running;
}
.paused .disk {
	animation-play-state: running, paused;
}
@keyframes toVisible {
	from {
		filter: opacity(0);
	}
	to {
		filter: opacity(100%);
	}
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
