@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

.wrapper {
	position: relative;
	height: 100%;
	aspect-ratio: 3;
}

.disabled,
.enabled {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}
.position0 .disabled,
.position0 .enabled,
.position1 .disabled,
.position1 .enabled {
	flex-direction: column-reverse;
}
.position2 .disabled,
.position2 .enabled,
.position3 .disabled,
.position3 .enabled {
	flex-direction: column;
}

.panel {
	width: 100%;
	display: flex;
	align-items: center;
}

.panel > * {
	flex: 1;
	line-height: 0.5;
	text-align: center;
	cursor: pointer;
}

.volume {
	width: 100%;
	display: flex;
	justify-content: right;
	line-height: 0.5;
	text-align: center;
}

.icon {
	font-size: 45%;
	color: var(--spotify-color-white);
}
.play .icon {
	font-size: 55%;
}
.panel > *:hover .icon {
	transform: scale(1.2);
}
.panel > *:active .icon {
	transform: scale(1.1);
}

.volume .icon {
	font-size: 40%;
	cursor: default;
}

.bar {
	width: 75%;
	margin: 0 7% 0 3%;
	cursor: grab;
}

.bar:active {
	cursor: grabbing;
}

.disabled {
	filter: brightness(60%);
	pointer-events: none;
}
