.background {
  width: 100vw;
  height: 100vh;
  background-color: #191414;
}

.background .jacket {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(25%) blur(9px);
}

.background .jacket.disable {
  filter: brightness(50%);
}

.background .canvas {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmax;
  height: 100vmax;
  filter: opacity(0);
  animation: toVisible .5s linear 3s forwards;
}

.background .canvas.paused {
  visibility: hidden;
}

.background .disk {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vmin;
  height: 50vmin;
  object-fit: cover;
  border-radius: 50%;
  filter: opacity(0);
  animation: toVisible 1s linear 1.5s forwards,
  rotation 30s linear 3s infinite;
}

.background .disk.paused {
  animation-play-state: running, paused;
}

.background .disk:not(.paused) {
  animation-play-state: running, running;
}

@keyframes toVisible {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(100%);
  }
}

@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}