.popup {
  width: 100vw;
  height: 100vh;
  background-color: #191414;
  animation: toDark .5s linear forwards,
  toDark .5s linear 2.5s reverse forwards;
}
@keyframes toDark{
  from {
    background-color: rgba(19, 14, 14, 0);
  }
  to {
    background-color: rgba(19, 14, 14, .5);
  }
}

.popup .item > img {
  position: absolute;
  top:  0;
  bottom:  0;
  left:  0;
  right:  0;
  margin:  auto;
  object-fit: cover;
}

.popup .item.old > img {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  transform: translateX(0);
  animation: rotation .5s forwards,
  toLeft 1s .5s forwards;
}

@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes toLeft{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * (50vw + 35vmin)));
  }
}

.popup .item.new > img {
  width: 70vmin;
  height: 70vmin;
  transform: translateX(calc(50vw + 40vmin));
  animation: toCenter 1s .5s forwards,
  toDisk .5s 1.5s forwards,
  toSmall 1s cubic-bezier(0.5, -.3, .5, .7) 2s forwards;
}

@keyframes toCenter{
  from {
    transform: translateX(calc(50vw + 35vmin));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toDisk{
  from {
    border-radius: 0;
  }
  to {
    border-radius: 50%;
  }
}

@keyframes toSmall{
  from {
    width: 70vmin;
    height: 70vmin;
  }
  to {
    width: 50vmin;
    height: 50vmin;
  }
}