.song .item {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  padding: 1.5vmin 2vmin 0.5vmin;
  background: #1D8954;
  color: white;
  border-radius: 1vmin;
  border-top-left-radius: 0;
}

.song .item > * {
  display: block;
  width: fit-content
} 

.song .item > * > p {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
} 

.song .artists {
  font-size: 3vmin;
}

.song .title > p {
  font-size: 5vmin;
}

.song .item .scroll {
  width: 50vw;
  overflow: hidden;
}

.song .item .scroll > p {
  animation: marquee 15s linear infinite;
}

@keyframes marquee{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.song .progress {
  display: inline-block;
  position: relative;
  left: .5vmin;
  padding: 0.5vmin 1vmin;
  font-size: 2vmin;
  background: #191414;
  color: white;
  border-radius: 0.5vmin;
}