.user .holder {
  position: relative;
}

.user .icon {
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  background-color: #191414;
}

.user .name {
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 10vmin;
  bottom: 2vmin;
  padding: .5vmin 2vmin .5vmin 11vmin;
  font-size: 4vmin;
  color: white;
  background: #191414;
  border-radius: 1vmin;
  white-space: nowrap;
}